$theme-color: #3874cb;
$secondary-theme-color: #f4f4f4;
$breakpoint: 992px;
// global style
a {
  color: inherit;
  text-decoration: none;
}

// customized style
@mixin ellipsis_box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
