@import "../../variable.scss";
.home-section-heading {
  .heading {
    padding: 0 0 10px 0;
    border-bottom: 1px solid $secondary-theme-color;
    .underline-decoration {
      padding: 7px 5px;
      border-bottom: 4px solid $theme-color;
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .heading {
    text-align: center;
  }
}
